@import 'tailwindcss';

@theme {
  /* Color styles */
  --color-white: rgba(255, 255, 255, 1);
  --color-primary: rgba(255, 193, 50, 1);
  --color-secondary: rgba(255, 238, 199, 1);
  --color-tertiary: rgba(133, 70, 227, 1);
  --color-background: rgba(249, 249, 249, 1);
  --color-green: rgba(115, 234, 115, 1);

  --color-contents-black: rgba(0, 0, 0, 1);
  --color-contents-content-primary: rgba(30, 30, 30, 1);
  --color-contents-content-secondary: rgba(51, 51, 51, 1);
  --color-contents-content-tertiary: rgba(166, 166, 166, 1);

  --color-gray-50: rgba(245, 245, 245, 1);
  --color-gray-100: rgba(225, 225, 225, 1);
  --color-gray-200: rgba(196, 196, 196, 1);
  --color-gray-300: rgba(166, 166, 166, 1);
  --color-gray-400: rgba(137, 137, 137, 1);
  --color-gray-500: rgba(107, 107, 107, 1);
  --color-gray-600: rgba(86, 86, 86, 1);
  --color-gray-700: rgba(64, 64, 64, 1);
  --color-gray-800: rgba(43, 43, 43, 1);
  --color-gray-900: rgba(21, 21, 21, 1);
  --color-info-error: rgba(240, 63, 64, 1);

  /* font-size styles */
  --heading-sm: 0.875rem; /* 14px */
  --heading-md: 1rem; /* 16px */
  --heading-lg: 1.125rem; /* 18px */
  --heading-xl: 1.375rem; /* 22px */
  --heading-2xl: 1.75rem; /* 28px */
  --label-xs: 0.625rem; /* 10px */
  --label-sm: 0.75rem; /* 12px */
  --label-md: 1rem; /* 16px */
  --label-lg: 1.125rem; /* 18px */
  --label-xl: 1.375rem; /* 22px */
  --label-2xl: 1.5rem; /* 24px */
  --paragraph-2xs: 0.625rem; /* 10px */
  --paragraph-xs: 0.75rem; /* 12px */
  --paragraph-sm: 0.875rem; /* 14px */
  --paragraph-md: 1rem; /* 16px */
  --paragraph-lg: 1.375rem; /* 22px */
  --paragraph-xl: 1.75rem; /* 28px */

  /* spacing */
  --spacing-custom-1: 0.25rem; /* 4px */
  --spacing-custom-2: 0.375rem; /* 6px */
  --spacing-custom-3: 0.5rem; /* 8px */
  --spacing-custom-4: 0.75rem; /* 10px */
  --spacing-custom-5: 0.75rem; /* 12px */
  --spacing-custom-6: 1rem; /* 16px */
  --spacing-custom-7: 1.25rem; /* 20px */
  --spacing-custom-8: 1.5rem; /* 24px */
  --spacing-custom-9: 2.25rem; /* 36px */
  --spacing-custom-10: 2.75rem; /* 44px */

  /* radius */
  --radius-3xs: 0.125rem; /* 2px */
  --radius-2xs: 0.25rem; /* 4px */
  --radius-xs: 0.375rem; /* 6px */
  --radius-sm: 0.5rem; /* 8px */
  --radius-md: 1.25rem; /* 20px */

  /* Effect styles */
  --shadow-medium: 0px 8px 16px rgba(0, 0, 0, 0.2);
  --shadow-low: 0px 2px 12px rgba(0, 0, 0, 0.12);
}
